@font-face {
    font-family: 'editorialnew'; 
    src: url('assets/fonts/EditorialNew-Ultralight.woff') format('woff'),
         url('assets/fonts/EditorialNew-Ultralight.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'editorialnewbold'; 
    src: url('assets/fonts/EditorialNew-Bold.woff') format('woff'),
         url('assets/fonts/EditorialNew-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'editorialnewheavy'; 
    src: url('assets/fonts/EditorialNew-Heavy.woff') format('woff'),
         url('assets/fonts/EditorialNew-Heavy.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'moriregular'; 
    src: url('assets/fonts/MoriGothic-Normal.woff') format('woff'),
         url('assets/fonts/MoriGothic-Normal.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'moribold'; 
    src: url('assets/fonts/MoriGothic-Bold.woff') format('woff'),
         url('assets/fonts/MoriGothic-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'solow'; 
    src: url('assets/fonts/SoLow-Regular.woff') format('woff'),
         url('assets/fonts/SoLow-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@blue: #0048ff;
@grey: #999;
@greylight: #efefef;
@brown: #ffddbd;
@purple: #9880ff;
@green: #4ef63f;
@red: #f63f61;
@black: #141414;
@whitebroken: #fff6e6;

@desktop:  ~"(min-width:750px)";

*{
    box-sizing: border-box;
}

header {
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: white;
    z-index: 1;
    @media @desktop {
        //position: initial;
    }
}
.floatingchat-container {
    width: 250px!important;
}
.floatingchat-container-wrap-mobi {
    opacity: 0;
}
html {
    @media @desktop {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
    }
}
body {
    background-color: @black;
    margin: 0px;
    font-size: 'moriregular';
    font-weight: 100;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    * {
        box-sizing: border-box;
        -webkit-font-smoothing: antialiased;
    }
    .desktop-wrapper {
        @media @desktop {
            width: 450px;
            border-radius: 22px;
            overflow: hidden;
            margin: 0 auto;
            
        }
    }
    header {
        background-color: @black;
        @media @desktop {
            width: 100%;
        }
        .data {
            background-color: @purple;
            display: flex;
            font-family: 'moribold';
            justify-content: space-between;
            align-items: center;
            padding: 4px 8px;
            border-radius: 22px;
            border-bottom: 1px solid black;
            border-top: 1px solid black;

            .current-data {
                position: relative;
                overflow: hidden;
                width: 68vw;
                @media @desktop {
                    width: 100%;
                    overflow: hidden;
                }
                &:after {
                    content: '';
                    width: 30px;
                    height: 30px;
                    position: absolute;
                    top: 0px;
                    right: 0px;
                    background: rgb(152,128,255);
                    background: linear-gradient(260deg, rgba(152,128,255,1) 0%, rgba(152,128,255,0) 100%);
                }
                &:before {
                    content: '';
                    width: 30px;
                    height: 30px;
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    background: rgb(152,128,255);
                    background: linear-gradient(90deg, rgba(152,128,255,1) 0%, rgba(152,128,255,0) 100%);
                    z-index: 1;
                }
                .data-container {
                    width: 68vw;
                    height: 30px;
                    
                    @media @desktop {
                        overflow: hidden;
                    }
                    .marquee-container {
                        width: max-content;
                        height: 30px;
                        display: flex;
                        align-items: center;
                        padding-left: 50vw;
                        p {
                            color: yellow;
                            font-family: 'solow';
                            font-size: 22px;
                            line-height: 0px;
                            padding-top: 4px;
                            display: block;
                        }
                        .hour {
                            background: yellow;
                            color: black;
                            border-radius: 22px;
                            overflow: hidden;
                            padding: 8px 12px 4px 12px;
                            margin-left: 20px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-family: 'solow';
                            font-size: 18px;
                            line-height: 18px;
                        }
                    }
                }
                
                
            }

            .moreinfo {
                padding: 8px;
                border-radius: 22px;
                border: 1px solid white;
                background-color: @purple;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-left: auto;
                margin-right: 6px;
                &:after {
                    content: '';
                    background-image: url("data:image/svg+xml,%3Csvg width='700' height='700' viewBox='0 0 700 700' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M350.465 62C255.343 62 178 139.341 178 234.465C178 242.123 184.202 248.324 191.859 248.324C199.517 248.324 205.718 242.123 205.718 234.465C205.718 154.659 270.657 89.7195 350.464 89.7195C430.306 89.7195 495.21 154.659 495.21 234.465C495.21 262.88 490.047 301.277 465.374 322.899C457.995 329.379 448.289 336.103 437.72 343.517C406.046 365.695 366.614 393.28 351.432 435.002C350.875 436.528 350.603 438.123 350.603 439.748V523.708C350.603 531.366 356.804 537.567 364.462 537.567C372.119 537.567 378.321 531.331 378.321 523.708V442.277C391.211 409.878 425.728 385.727 453.62 366.253C465.124 358.212 475.623 350.799 483.63 343.761C516.134 315.312 522.961 268.635 522.961 234.502C522.961 139.379 445.55 62.0064 350.466 62.0064L350.465 62Z' fill='black'/%3E%3Cpath d='M387.786 616.999C387.786 628.596 378.388 638 366.785 638C355.189 638 345.79 628.596 345.79 616.999C345.79 605.403 355.188 595.998 366.785 595.998C378.388 595.998 387.786 605.402 387.786 616.999Z' fill='black'/%3E%3C/svg%3E");
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                    width: 22px;
                    height: 22px;
                    filter: invert(1);
                }
                @media @desktop {
                    display: none;
                }
            }

            .refresh {
                padding: 8px;
                border-radius: 22px;
                border: 1px solid white;
                background-color: @purple;
                display: flex;
                justify-content: center;
                align-items: center;
                &:after {
                    content: '';
                    background-image: url("data:image/svg+xml,%3Csvg width='700' height='700' viewBox='0 0 700 700' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M445.788 607.347C386.369 635.53 317.697 636.801 257.272 610.841C175.581 576.086 122.852 500.7 116.035 409.121L99 410.398C106.243 508.447 162.889 589.286 250.545 626.6C315.468 654.445 389.232 653.018 453.026 622.684C510.206 596.314 556.013 550.27 582.081 492.946C629.867 380.671 587.619 220.355 448.51 161.502V161.496C413.049 146.926 374.799 140.378 336.509 142.322C298.218 144.265 260.831 154.657 227.027 172.745L268.769 59.8767L252.755 54L200.192 196.768L336.912 262.957L344.321 247.626L228.732 191.313C280.695 162.352 362.641 143.528 441.694 177.171C502.344 202.65 549.113 252.986 570.065 315.341C589.425 370.953 588.123 431.668 566.405 486.395C542.001 539.872 499.188 582.804 445.782 607.357L445.788 607.347Z' fill='black'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M445.791 607.353C445.792 607.352 445.794 607.352 445.795 607.351C449.258 605.759 452.677 604.089 456.049 602.344C504.67 577.185 543.586 536.4 566.405 486.395C588.123 431.668 589.425 370.953 570.065 315.341C549.113 252.986 502.344 202.65 441.694 177.171C365.872 144.903 287.389 160.901 235.252 187.815C233.03 188.963 230.856 190.129 228.732 191.313L344.321 247.626L336.912 262.957L200.192 196.768L252.755 54L268.769 59.8767L227.027 172.745C229.638 171.348 232.27 169.997 234.923 168.692C266.612 153.102 301.176 144.115 336.509 142.322C374.799 140.378 413.049 146.926 448.51 161.496V161.502C587.619 220.355 629.867 380.672 582.081 492.946C556.013 550.27 510.206 596.314 453.026 622.684C389.232 653.018 315.468 654.445 250.545 626.6C164.677 590.047 108.567 511.727 99.5048 416.377C99.3362 414.603 99.1838 412.822 99.0478 411.036C99.0316 410.823 99.0157 410.611 99 410.398L116.035 409.121C116.043 409.22 116.05 409.32 116.058 409.419C122.966 500.864 175.67 576.123 257.272 610.841C314.374 635.374 378.842 635.587 435.906 611.752C439.222 610.367 442.513 608.9 445.776 607.353C445.777 607.352 445.778 607.352 445.78 607.351C445.783 607.35 445.786 607.349 445.788 607.347L445.782 607.357C445.785 607.356 445.788 607.354 445.791 607.353ZM448.903 599.229L443.217 601.926C385.355 629.37 318.482 630.608 259.64 605.328L259.621 605.32C180.087 571.482 128.676 498.117 122.019 408.675L121.573 402.689L92.5748 404.863L93.0163 410.84C100.418 511.037 158.389 593.891 248.194 632.12C314.687 660.634 390.232 659.175 455.572 628.118C514.043 601.142 560.884 554.053 587.543 495.43L587.573 495.364L587.602 495.296C636.082 381.39 594.164 219.122 454.51 157.558V157.474L450.79 155.946C414.51 141.04 375.379 134.341 336.204 136.33C302.139 138.058 268.773 146.324 237.909 160.618L276.482 56.3163L249.196 46.3024L192.682 199.799L339.701 270.973L352.327 244.852L242.03 191.117C292.962 166.05 367.494 152.114 439.344 182.692L439.357 182.697L439.37 182.703C498.431 207.515 543.975 256.531 564.378 317.252L564.388 317.283L564.399 317.313C583.268 371.517 582.017 430.69 560.884 484.041C537.931 534.255 498.335 574.925 448.903 599.229Z' fill='black'/%3E%3C/svg%3E");
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                    width: 22px;
                    height: 22px;
                    filter: invert(1);
                }
            }
        }
            
            .twitter {
                width: 100vw;
                overflow: hidden;
                background-color: @green;
                border-radius: 22px;
                border-bottom: 1px solid black;
                overflow: hidden;
                @media @desktop {
                    overflow: hidden;
                    width: 100%;
                    overflow: hidden;
                }
                
                ol {
                    
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-right: 5px;
                    list-style-type: none;
                    width: fit-content;
                    margin: 0px;
                    padding:4px 8px;
                    padding-left: 50vw;
                    li.tw-label {
                        padding: 0px 12px;
                        
                        counter-increment: none;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-right: 12px;
                        
                        
                        p {
                            font-family: 'solow';
                            padding-left: 42px;
                            margin: 0px;
                            font-size: 14px;
                            line-height: 16px;
                            text-align: center;
                        }
                        
                        &:before {
                            display: none;
                        }

                        &:after {
                            content: '';
                            width: 40px;
                            height: 40px;
                            background-size: contain;
                            background-image: url("data:image/svg+xml,%3Csvg width='700' height='700' viewBox='0 0 700 700' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M349 258V442C349 516.558 288.558 577 214 577C139.442 577 79 516.558 79 442V258C79 183.442 139.442 123 214 123C288.558 123 349 183.442 349 258Z' fill='white' stroke='black' stroke-width='14'/%3E%3Cpath d='M622 257.5V442.5C622 516.782 561.782 577 487.5 577C413.218 577 353 516.782 353 442.5V257.5C353 183.218 413.218 123 487.5 123C561.782 123 622 183.218 622 257.5Z' fill='white' stroke='black' stroke-width='14'/%3E%3Crect x='205' y='259' width='106' height='184' rx='53' fill='black'/%3E%3Crect x='481' y='259' width='106' height='184' rx='53' fill='black'/%3E%3C/svg%3E");
                        }
                    }
                    li {
                        counter-increment: counter;
                        counter-reset: start 0;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-right: 12px;
                        position: relative;
                        &:before {
                            content: counter(counter);
                            width: 22px;
                            height: 22px;
                            background-color: @black;
                            border-radius: 22px;
                            margin-right: -33px;
                            z-index: 1;
                        }
                        &:after {
                            content: counter(counter);
                            font-family: 'solow';
                            font-size: 12px;
                            line-height: 0px;
                            color: white;
                            position: absolute;
                            left: 0px;
                            width: 22px;
                            height: 22px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            padding-top: 2px;
                            z-index: 1;
                        }
                        a {

                            text-decoration: none;
                            color: @black;
                            font-family: 'moribold';
                            font-size: 14px;
                            line-height: 0px;
                            white-space: nowrap;
                            padding: 20px 22px 20px 22px;
                            padding-left: 42px;
                            border: 1px solid @green;
                            background-color: white;
                            border-radius: 20px;
                            margin-left: 2px;
                            border: 1px solid @black;
                            
                        }
                    }
                }
            }
        
    }
    
    .loading {
        background-color: @black;
        position: fixed;
        top: 0px;
        left: 0px;
        bottom: 0px;
        width: 100vw;
        height: 100vh;
        z-index: 10;
        position: relative;
        .loader {
            border-radius: 22px;
            border: 1px solid @black;
            background-color: @whitebroken;
            width: 100vw;
            height: 10vh;
            position: absolute;
            bottom: 0px;
            left: 0px;
            @media @desktop {
                width: 100%;
            }
            
        }
        .theCount {
            padding: 20px;
            margin-top: 20px;
            color: white;
            z-index: 100;
            font-family: 'editorialnew';
            font-size: 30vw;
            line-height: 25vw;
            position: absolute;
            mix-blend-mode: difference;
            @media @desktop {
                font-size: 120px;
                line-height: 100px;
            }
        }
    }
    .about {
        position: fixed;
        top: 87px;
        padding: 20px;
        text-align: center;
        width: 100vw;
        height: 100vh;
        @media @desktop {
            width: 436px;
            left: calc(50% - 218px);
            top: calc(50% - 218px);
        }
        h1 {
            color: white;
            font-family: 'editorialnew';
            font-size: 38px;
            line-height: 36px;
            margin-bottom: 12px;
            font-weight: 100;
        }
        p {
            color:white;
            font-family: 'moribold';
            font-size: 14px;
            line-height: 18px;
            margin: 0px;
            margin-bottom: 4px;
        }
    }
    h2 {
        margin: 0px;
        font-family: 'editorialnewbold';
        font-weight: 100;
        font-size: 8.3vw;
        line-height: 8.6vw;
        
        @media @desktop {
            font-size: 46px;
            line-height: 48px;
            letter-spacing: -.2px;
        }
    }
    .general-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        @media @desktop {
            align-items: flex-start;
            cursor: grab;
            
        }
        .news-wrapper {
            position: absolute;
            display: grid;
            grid-template-columns: auto auto auto;
            //transition: all ease-out 0.2s;
            transform: scale(0.7);
            
            @media @desktop {
                transform-origin: top left;
                grid-template-columns: auto auto auto auto;
            }
            .new-container {
                pointer-events: none;
                width: calc(100vw - 40px);
                background-color: @black;
                display: flex;
                flex-direction: column;
                height: 100% ;
                @media @desktop {
                    width: 600px;
                }
                .new-wrapper {
                    height: 100%;
                }
                & > div {
                    background-color: white;
                    border-radius: 22px;
                    padding: 20px;
                    border: 1px solid black;
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    @media @desktop {
                        padding: 46px;
                        border-radius: 52px;
                    }
                    .sup {
                        display: flex;
                        align-items: center;
                        margin-bottom: 18px;
                        overflow: hidden;
                        @media @desktop {
                            margin-bottom: 28px;
                        }

                        .red {
                            width: 6px;
                            height: 6px;
                            background-color: @red;
                            border-radius: 100%;
                            margin-right: 6px;
                            animation-name: live;
                            animation-iteration-count: infinite;
                            @media @desktop {
                                margin-right: 12px;
                                width: 12px;
                                height: 12px;
                            }
                        }
                        span {
                            text-transform: uppercase;
                            color: black;
                            font-size: 10px;
                            display: flex;
                            align-items: center;
                            justify-content: flex-end;
                            flex-direction: row-reverse;
                            font-family: 'moriregular';
                            
                            @media @desktop {
                                font-size: 14px;
                                
                            }
                            
                        }
                    }
                    
                }
                
                a {
                    pointer-events: all;
                    background-color: white;
                    border: 1px solid black;
                    border-radius: 22px;
                    color: @grey;
                    text-decoration: none;
                    align-self: flex-end;
                    width: 40px;
                    height: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    @media @desktop {
                        width: 60px;
                        height: 60px;
                        border-radius: 52px;
                    }
                    &:after {
                        content: '';
                        width: 22px;
                        height: 22px;
                        background-image: url("data:image/svg+xml,%3Csvg width='700' height='700' viewBox='0 0 700 700' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M278.92 580.31C246.48 619.602 188.401 625.149 149.11 592.71C109.818 560.27 104.271 502.191 136.711 462.899L244.339 332.539C276.779 293.247 334.858 287.7 374.149 320.139L374.145 320.136C375.749 321.426 376.774 323.3 376.981 325.348C377.195 327.395 376.572 329.438 375.261 331.025C373.954 332.608 372.066 333.607 370.012 333.788C367.966 333.968 365.928 333.321 364.361 331.986C331.432 304.799 283.372 309.389 256.185 342.319L148.556 472.68C121.369 505.61 125.959 553.669 158.889 580.857C191.819 608.044 239.878 603.454 267.066 570.524L369.802 446.089L369.799 446.093C371.088 444.488 372.967 443.468 375.01 443.257C377.058 443.05 379.1 443.666 380.688 444.977C382.275 446.287 383.27 448.179 383.451 450.226C383.631 452.272 382.984 454.31 381.653 455.88L278.917 580.315L278.92 580.31ZM455.039 366.993C422.6 406.284 364.52 411.832 325.229 379.392L325.222 379.393C323.621 378.107 322.597 376.232 322.39 374.185C322.176 372.138 322.795 370.091 324.105 368.504C325.412 366.921 327.305 365.925 329.359 365.744C331.405 365.564 333.443 366.211 335.005 367.543C367.935 394.73 415.995 390.14 443.182 357.21L550.811 226.849C577.998 193.919 573.408 145.86 540.478 118.672C507.548 91.4846 459.489 96.0752 432.301 129.005L329.565 253.44L329.568 253.436C328.282 255.044 326.404 256.065 324.36 256.275C322.313 256.482 320.27 255.866 318.683 254.556C317.096 253.245 316.1 251.353 315.92 249.307C315.736 247.257 316.387 245.222 317.718 243.652L420.454 119.217C452.894 79.9258 510.973 74.3782 550.264 106.818C589.556 139.258 595.103 197.337 562.664 236.628L455.035 366.989L455.039 366.993Z' fill='black'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M278.792 580.466C278.833 580.415 278.875 580.365 278.916 580.315C278.918 580.313 278.919 580.312 278.92 580.31L278.916 580.315L381.653 455.88C382.984 454.31 383.631 452.272 383.451 450.226C383.27 448.179 382.275 446.287 380.688 444.977C379.1 443.666 377.058 443.05 375.01 443.257C372.969 443.467 371.092 444.487 369.802 446.089C369.801 446.09 369.8 446.091 369.799 446.093L267.066 570.524C239.878 603.454 191.819 608.044 158.889 580.857C125.959 553.669 121.369 505.61 148.556 472.68L256.185 342.319C283.372 309.389 331.432 304.799 364.361 331.986C365.928 333.321 367.966 333.968 370.012 333.788C372.066 333.607 373.954 332.608 375.261 331.025C376.572 329.438 377.195 327.395 376.981 325.348C376.774 323.302 375.751 321.429 374.149 320.139C374.148 320.138 374.147 320.137 374.145 320.136C374.135 320.128 374.125 320.119 374.115 320.111C334.824 287.703 276.769 293.259 244.339 332.539L136.711 462.899C104.271 502.191 109.818 560.27 149.11 592.71C188.349 625.107 246.327 619.616 278.792 580.466ZM377.937 315.486C336.091 280.966 274.253 286.883 239.712 328.719L132.084 459.079C97.5343 500.926 103.443 562.787 145.29 597.336C187.135 631.885 248.993 625.977 283.543 584.135L386.258 459.726C388.606 456.938 389.747 453.328 389.427 449.699C389.106 446.051 387.332 442.682 384.508 440.35C381.678 438.013 378.041 436.92 374.407 437.288L374.396 437.289C370.772 437.662 367.443 439.465 365.15 442.299L262.439 566.704C237.361 597.078 193.083 601.308 162.709 576.23C132.334 551.152 128.105 506.874 153.183 476.5L260.811 346.139C285.881 315.775 330.138 311.538 360.511 336.588C363.301 338.946 366.914 340.084 370.539 339.765C374.2 339.442 377.563 337.661 379.888 334.845C382.214 332.028 383.332 328.386 382.948 324.723M382.948 324.723C382.574 321.085 380.759 317.769 377.937 315.486ZM463.245 366.478L459.666 370.813C425.653 412.011 365.168 418.376 323.37 385.597L323.364 385.598L323.007 385.311C322.619 385.003 322.232 384.693 321.847 384.379L321.462 384.069C318.621 381.785 316.793 378.451 316.421 374.797C316.043 371.148 317.148 367.506 319.478 364.684C321.811 361.859 325.181 360.089 328.832 359.767C332.455 359.448 336.068 360.585 338.856 362.941C369.229 387.991 413.486 383.754 438.555 353.39L546.184 223.029C571.262 192.655 567.032 148.377 536.658 123.299C506.283 98.2212 462.006 102.45 436.928 132.825L334.22 257.225C331.928 260.069 328.595 261.871 324.975 262.243L324.964 262.245C321.33 262.612 317.693 261.519 314.863 259.183C312.039 256.85 310.265 253.482 309.943 249.833C309.619 246.188 310.773 242.585 313.112 239.807L415.827 115.397C450.377 73.5505 512.238 67.6416 554.084 102.191C595.931 136.74 601.84 198.602 567.291 240.448L463.241 366.474L463.245 366.478ZM455.035 366.989L562.664 236.628C595.103 197.337 589.556 139.258 550.264 106.818C510.973 74.3782 452.894 79.9258 420.454 119.217L317.718 243.652C316.387 245.222 315.736 247.257 315.92 249.307C316.1 251.353 317.096 253.245 318.683 254.556C320.27 255.866 322.313 256.482 324.36 256.275C326.402 256.065 328.279 255.045 329.565 253.44C329.566 253.439 329.567 253.438 329.568 253.436L432.301 129.005C459.489 96.0752 507.548 91.4846 540.478 118.672C573.408 145.86 577.998 193.919 550.811 226.849L443.182 357.21C415.995 390.14 367.935 394.73 335.005 367.543C333.443 366.211 331.405 365.564 329.359 365.744C327.305 365.925 325.412 366.921 324.105 368.504C322.795 370.091 322.176 372.138 322.39 374.185C322.597 376.232 323.621 378.107 325.222 379.393L325.229 379.392C364.52 411.832 422.6 406.284 455.039 366.993L455.035 366.989Z' fill='black'/%3E%3C/svg%3E");
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-position: center;
                    }
                }
            }
        }
    }
    
}